#Options +FollowSymLinks -MultiViews
#RewriteEngine On    # Turn on the rewriting engine
#RewriteBase /
#RewriteRule ^/iThenticateChecker/controllers?(.*) /$1 [R=301,L]
#RewriteRule ^iThenticateChecker/controllers(/.*|)$ iThenticateChecker/$1 [L,NC]
#RewriteRule ^controllers/(.*)$ $1 [L,NC]

