.modal-content {
    width: 900px !important;
    margin: 0 auto;
}

.help_img {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 800px;
}

p {
    margin: 5px 15px;
}

ul, ol {
    margin: 5px 30px;
}
.vazno {
    color: red;
}